@model DevCore.Remember.Models.SystemLoginDetails
<h2>@Model.SystemName</h2>

<form action='/Manage/Index'>
<p>Username: <input type="text" id='username'></p>
<p>Password: <input type="password" id="password"></p>
<p>  </p>
<p><input type="submit">  </p>
</form>