@model DevCore.Remember.Models.SystemLoginDetails
@{ViewData["Title"] = "Index";}
<h2>Index</h2>

<p>  5 + 4 = @((5 + 4).ToString())</p>
<p>@Model.SystemName</p>
<p>Hello from Manage/Index!</p>
<p><a href='/Service/Netscape'>Netscape</a></p>
<p><a href='/Service/IE'>IE</a></p>