<form action='/Manage/Index'>
    <p>Enter system and username separated by a colon eg ubuntu:jsmith and then the password.<br />
    On submit safari should prompt to remember the password in the keychain.<br />
    In iOS Settings / Safari / Passwords it will show up as localhost - ubuntu:jsmith</p>
    <table>
        <tr><td>System:Username: </td><td><input type="text" id='username'></td></tr>
        <tr><td>Password: </td><td><input type="password" id="password"></td></tr>
    </table>
    <p>  </p>
    <p><input type="submit">  </p>
</form>