@model Accounting.Models.Payment
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Razor.Tools
@{
//@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
    System.Diagnostics.Debug.WriteLine($"Accounting/Input View post addTagHelper");
    ViewData["Title"] = "Input";
}

<h2>Input</h2>

<Form name='CCEntry' action='/Result' method='POST'>
	<table>
		<tr>
            <td><label asp-for='Description'></td>
            <td><input asp-for='Description'></td>
        </tr>
		<tr><td>Date</td><td><input type='date' name='Date'></td></tr>
		<tr><td>Amount</td><td><input type='text' name='Amount'></td></tr>
	    <tr><td></td><td><input type='submit'></td></tr>
    </table>
</Form>